.ui.button
  color white
  border-radius 2px
  box-sizing border-box
  -ms-box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box

  &.w-120
    width 120px

  &.medium
    &.compact
      line-height 30px

  &.transparent
    background transparent
    border 2px solid #282c34
    color #545964
    box-sizing content-box
    -ms-box-sizing content-box
    -moz-box-sizing content-box
    -webkit-box-sizing content-box

    &:hover
      color #606673

    &:active
      color #3e424a

  &.primary
    background-color #45c8dc

    &:hover
      background-color #47d0e5

    &:active
      background-color #3fb9cc

  &.secondary
    background-color #7e8493

    &:hover
      background-color #848a99

    &:active
      background-color #696e7a

  &.error
    background-color #e35d43

    &:hover
      background-color #ed6347

    &:active
      background-color #c9543c
