@import './ui/button'
@import './ui/square'
@import './ui/slider'

.archive-options
  place holder

body
  color #7e8493
  font-family "Avenir", "Helvetica Neue", "Helvetica", sans-serif
  font-weight 400

*
  box-sizing border-box
  -ms-box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
